@{
    int? userId = Context.Session.GetInt32("UserId");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/index.css">
    <title>@ViewData["Main Page"] - Wave</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="toggle">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/logo.png"></a>
                    <a href="@Url.Action("Index", "Home")"><h2 class="h2__wave">Wa<span class="primary">ve</span></h2></a>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>
            <div class="sidebar">
                <a href="@Url.Action("Search", "User")">
                    <span class="material-icons-sharp">
                        search
                    </span>
                    <h3>Search</h3>
                </a>

                @if (userId != null)
                {
                    <a href="@Url.Action("Profile", "Home")">
                        <span class="material-icons-sharp">
                            person_outline
                        </span>
                        <h3>Profile</h3>
                    </a>
                }

                @if (userId != null)
                {
                    <a id="add-post-btn" href="">
                        <span class="material-icons-sharp">
                            queue
                        </span>
                        <h3>Add Post</h3>
                    </a>
                } 

                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                @if (userId != null)
                {
                    <a href="@Url.Action("LogOut", "Home")">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Logout</h3>
                    </a>
                }

                else
                {
                    <a href="@Url.Action("Index", "Login")">
                        <span class="material-icons-sharp">
                            login
                        </span>
                        <h3>Login</h3>
                    </a>
                }

                
            </div>
        </aside>

        <!-- main content -->
        <main>
            @RenderBody()
        </main>
        <!-- end main content -->

        <div class="right-section">
            @RenderSection("Scripts", required: false)
        </div>
    </div>

    <div id="add-post-popup" class="popup">
        <div class="popup-content">
            <span class="close" id="close-popup">&times;</span>

            <!-- Formulario -->
            <div class="form-container">
                <h2>Add Post</h2>
                <form id="post-form" enctype="multipart/form-data" asp-controller="Home" asp-action="SavePost" method="post">
                    <div class="file-drop-area" id="fileDropArea">
                        <label for="post-image">Arrastra y suelta la imagen aquí o </label>
                        <span class="file-msg">Selecciona un archivo</span>
                        <input type="file" id="post-image" name="image" accept="image/*" required>
                    </div>

                    <label for="post-description">Descripción:</label>
                    <textarea id="post-description" name="description" required></textarea>

                    <button type="submit" value="Submit Form">Add Post</button>
                </form>
            </div>

            <!-- Previsualización de la imagen -->
            <div class="image-preview-container">
                <div id="image-preview"></div>
            </div>
        </div>
    </div>

    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/post.js" asp-append-version="true"></script>

</body>
</html>
